:root {
  --main-bg-color: lightblue;

  /* NOTE APP*/
  --clr-black: #000000;
  --clr-white: #fff;
  --clr-txt-base: #202124;

  /* Buttons */
  --clr-btn-base: #3C4043;
  --clr-btn-hover: #202124;
  --clr-btn-hover-bg: #5f636828;

  /* INPUTS */
  --clr-txt-placeholder: #000000b3;
  --clr-input-icons: #747474;
  --clr-input-border: #dadce0;

  /* SIDE-BAR */
  --clr-sb-icon: #5f6368;
  --clr-sb-icon-selected: #202124;
  --clr-sb-hover: #f1f3f4;
  --clr-sb-selected: #feefc3;
}