.color-picker-popover {
  position: absolute;
  top: 1.6875rem;
  left: 50%;
  transform: translateX(-22%);

  display: flex;
  gap: .5rem;
  z-index: 100;

  background-color: var(--clr-white);
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: .5rem;
  box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3), 0 4px 8px rgba(60, 64, 67, 0.15);
}

.color-picker-popover .btn-color-option {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;

  transition: box-shadow 0.15s ease;
}

.color-picker-popover .btn-color-option:hover {
  box-shadow: 0 0 0 2px var(--clr-btn-hover);
}