
.mail-app {
   background-color: #f8fafd;
   grid-auto-flow: column;
   grid-template-columns: auto 1fr;
   width: 100dvw;
}

.mail-app nav {
   padding: 10px;
}

.mail-list-details-container{
   border-radius: 15px;
   padding: 10px;
   background-color: white;
   /* width: 100%; */
}